body {
background-image: url("https://resize1.prod.docfr.doc-media.fr/rcrop/480,363,center-middle/img/var/doctissimo/storage/images/fr/www/medecines-douces/phytotherapie/plantes-medicinales/lavande/393030-11-fre-FR/lavande.jpg");
}
#p1 {
    font-family: "Arial Black";

color:green ;
font-weight: bold ;
font-size :60 px ;
}
